<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">        
            <h1>Welcome to ZodiacMeet!</h1>
            <p> View profiles with astrological info from all over the world.</p>
            <p>
                <a class="btn btn-primary btn-lg" href= "/profiles/new"> Create a new profile </a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display: flex; flex-wrap: wrap">
        <% profiles.forEach(function(profile){ %>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <img src="<%=profile.image%>">
                    <div class="caption">
                        <h4> <%= profile.name %> </h4>
                    </div>
                    <p>
                        <a href="/profiles/<%=profile._id%>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>