<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="info">        
            <h1>ZodiacMeet</h1>
            <p> View profiles with astrological info from all over the world.</br>
                Here you can find people who are astrologically compatibile with you.</br>
                You can create your profile, browse the database of profiles, </br>
                And when you find someone interesting, contact them via message or chat.</br>
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href= "/profiles/new"><h3>Create a new profile</h3> </a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display: flex; flex-wrap: wrap">
        <% profiles.forEach(function(profile){ %>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <img src="<%=profile.image%>">
                    <div class="caption">
                        <h4> <%= profile.name %> </h4>
                    </div>
                    <p>
                        <a href="/profiles/<%=profile._id%>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>